.colorSelectorContainer {
  background-color: rgba(138, 138, 138, 0.221);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 7px;
  /* opacity: 0%; */
}

.taskColorSelector {
  position: relative;
  top: 58px;
}

.color {
  border: 2px solid transparent;
  /* box-shadow: 0 0 5px 2px rgba(129, 129, 129, 0.242); */
  height: 15px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: rgb(119, 0, 255);
}

.color:hover {
  border: 2px solid rgb(177, 177, 177);
}

.white {
  background-color: white;
}
.green {
  background-color: rgb(194, 254, 194);
}
.yellow {
  background-color: rgb(252, 252, 197);
}
.blue {
  background-color: rgb(181, 218, 255);
}

.grey {
  background-color: rgb(255, 206, 169);
}

.purple {
  background-color: rgb(226, 190, 255);
}
