.groupFrame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 43%;
  height: 25px;
  padding: 20px 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid transparent;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.107);
  transition: background-color 0.3s;
}

textarea {
  display: flex;
  width: 100%;
  height: 82%;
  border: 2px solid transparent;
  background-color: transparent;
  text-align: center;
  outline: none;
  resize: none;
  position: relative;
  top: 0;
  bottom: 0;
  font-size: 0.9rem;
  font-weight: 800;
}

.deleteGroupButton {
  position: absolute;
  top: 2%;
  left: 2%;
  opacity: 0;
  transition: opacity 0.3s 0.2s;
}

.deleteGroupButton:hover {
  scale: 1.15;
}

.personalizeColor {
  position: absolute;
  top: 2%;
  right: 2%;
  opacity: 0;
  transition: opacity 0.3s 0.2s;
}

.personalizeColor:hover {
  scale: 1.15;
}

img.deleteGroupImg {
  height: 13px;
}

div.groupFrame:hover > .deleteGroupButton {
  opacity: 1;
}

div.groupFrame:hover > .personalizeColor {
  opacity: 1;
}

div.groupFrame.white {
  background-color: rgba(255, 255, 255, 0.785);
}

div.groupFrame.green {
  background-color: rgba(212, 255, 156, 0.785);
}

div.groupFrame.yellow {
  background-color: rgba(255, 235, 156, 0.749);
}

div.groupFrame.blue {
  background-color: rgba(179, 208, 251, 0.785);
}

div.groupFrame.orange {
  background-color: rgba(255, 210, 156, 0.785);
}

div.groupFrame.purple {
  background-color: rgba(205, 179, 251, 0.785);
}

div.groupFrame.white:hover {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(230, 230, 230, 0.785);
}

div.groupFrame.green:hover {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(194, 232, 144, 0.785);
}

div.groupFrame.yellow:hover {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(211, 195, 131, 0.749);
}

div.groupFrame.blue:hover {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(162, 188, 227, 0.785);
}

div.groupFrame.orange:hover {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(223, 184, 138, 0.785);
}

div.groupFrame.purple:hover {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(187, 164, 227, 0.785);
}
