button.addTask {
  position: fixed;
  right: 20px;
  bottom: 20px;

  background-color: transparent;
  border: 0;
}

img.addTask {
  height: 700px;
  width: 700px;
}

/* -------------------Hovers------------------ */

button.addTask:hover {
  scale: 1.1;
}
